/C006_DataType.class
/C007_Constant.class
/C008_Radix.class
/C009_Precision.class
/C010_charType.class
/C011_TextBlock.class
/C012_ImplicitConversion.class
/C013_ExplicitConversion.class
/C014_ArithmeticConversion.class
