/Apple.class
/Banana.class
/BeverageBox.class
/BeverageBox2.class
/Box.class
/BoxType.class
/BoxType2.class
/C099_generic1.class
/C100_generic2.class
/C101_generic3.class
/C102_generic_method.class
/C103_generic_method2.class
/C104_generic_range1.class
/C105_generic_range2.class
/Calculator.class
/Closeable.class
/Coffee.class
/Fruit.class
/FruitBox.class
/FruitBox2.class
/GenericTest.class
/Human.class
/Juice.class
/Point.class
/Readable.class
/Student$C106_generic_wildcards.class
/Student$Room.class
/Student.class
